[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mohammad330a/Desktop/project.zip]
row=4
col=6

[/home/mohammad330a/Desktop/movie_bank.zip]
row=4
col=5

[/home/mohammad330a/Desktop/posts.png]
row=2
col=7

[/home/mohammad330a/Desktop/entries.pdf]
row=8
col=0

[/home/mohammad330a/Desktop/movie_bank]
row=2
col=6

[/home/mohammad330a/Desktop/Clean Code.pdf]
row=1
col=1

[/home/mohammad330a/Desktop/bourse_moved_crypto]
row=1
col=0

[/home/mohammad330a/Desktop/Learn Bash Scripting_ Bash Scripting Cheatsheet _ Codecademy.pdf]
row=4
col=1

[/home/mohammad330a/Desktop/data_from_server]
row=4
col=7

[/home/mohammad330a/Desktop/3Bots.pdf]
row=4
col=2

[/home/mohammad330a/Desktop/twitter_crawlers_tokens.txt]
row=5
col=1

[/home/mohammad330a/Desktop/Screenshot_2022-04-27_18-04-44.png]
row=2
col=0

[/home/mohammad330a/Desktop/3Bots]
row=7
col=3

[/home/mohammad330a/Desktop/Screenshot_2022-01-09_14-34-18.png]
row=1
col=6

[/home/mohammad330a/Desktop/Profile.pdf]
row=0
col=0

