[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mohammad330a/Desktop/HamBugs]
row=5
col=0

[/home/mohammad330a/Desktop/rango-1200-1200-675-675-crop-000000.jpg]
row=1
col=0

[/home/mohammad330a/Desktop/twitter.zip]
row=8
col=0

[/home/mohammad330a/Desktop/locustfile.py]
row=0
col=0

[/home/mohammad330a/Desktop/CreateExamBugs]
row=3
col=0

[/home/mohammad330a/Desktop/download.pdf]
row=7
col=0

[/home/mohammad330a/Desktop/nightcore]
row=2
col=0

[/home/mohammad330a/Desktop/الو سلام]
row=4
col=0

[/home/mohammad330a/Desktop/Recover]
row=6
col=0

