[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mohammad330a/Desktop/twitter-user]
row=17
col=5

[/home/mohammad330a/Desktop/com_stat]
row=18
col=6

[/home/mohammad330a/Desktop/5]
row=16
col=2

[/home/mohammad330a/Desktop/test]
row=15
col=5

[/home/mohammad330a/Desktop/ACM]
row=11
col=7

[/home/mohammad330a/Desktop/crypto-table-doc.zip]
row=12
col=5

[/home/mohammad330a/Desktop/movie_bank.zip]
row=16
col=1

[/home/mohammad330a/Desktop/Screenshot_2022-01-09_14-34-18.png]
row=15
col=4

[/home/mohammad330a/Desktop/kUJEz17MRN6CRM9ezITeZw_b7ca01e1a2714e9fb931b8d22baf0df1_ex3-octave.zip]
row=12
col=2

[/home/mohammad330a/Desktop/back_insurance_text_classification_new]
row=11
col=5

[/home/mohammad330a/Desktop/twitter-user.zip]
row=18
col=5

[/home/mohammad330a/Desktop/Profile.pdf]
row=14
col=5

[/home/mohammad330a/Desktop/2022-01-30_07:01:34.json]
row=13
col=4

[/home/mohammad330a/Desktop/project.zip]
row=15
col=0

[/home/mohammad330a/Desktop/3Bots.pdf]
row=13
col=6

[/home/mohammad330a/Desktop/DrSameiHelp2]
row=10
col=5

[/home/mohammad330a/Desktop/forward]
row=17
col=0

[/home/mohammad330a/Desktop/requirements?!!!!]
row=12
col=3

[/home/mohammad330a/Desktop/geckodriver-v0.30.0-linux64.tar.gz]
row=10
col=2

[/home/mohammad330a/Desktop/Figure_1.png]
row=14
col=1

[/home/mohammad330a/Desktop/tweet_academic_sentiment]
row=16
col=6

[/home/mohammad330a/Desktop/karn_q_r.pdf]
row=14
col=3

[/home/mohammad330a/Desktop/my_codal_row_crawler]
row=13
col=5

[/home/mohammad330a/Desktop/1]
row=10
col=4

[/home/mohammad330a/Desktop/KhDr]
row=13
col=0

[/home/mohammad330a/Desktop/movie_bank]
row=13
col=1

[/home/mohammad330a/Desktop/actionPattern]
row=12
col=1

[/home/mohammad330a/Desktop/stat]
row=12
col=7

[/home/mohammad330a/Desktop/requirementAnswers]
row=17
col=3

[/home/mohammad330a/Desktop/3Bots]
row=17
col=6

[/home/mohammad330a/Desktop/sample.json]
row=18
col=4

[/home/mohammad330a/Desktop/SolanaNews.json]
row=13
col=3

[/home/mohammad330a/Desktop/posts.png]
row=18
col=1

[/home/mohammad330a/Desktop/tra]
row=10
col=7

[/home/mohammad330a/Desktop/Untitled1.svg]
row=15
col=6

[/home/mohammad330a/Desktop/response.json]
row=17
col=2

[/home/mohammad330a/Desktop/result.json]
row=14
col=4

[/home/mohammad330a/Desktop/DrSameiHelp2_hamun2]
row=18
col=0

[/home/mohammad330a/Desktop/3Bots_.zip]
row=12
col=6

[/home/mohammad330a/Desktop/log.out]
row=14
col=6

[/home/mohammad330a/Desktop/EmadBug]
row=15
col=1

[/home/mohammad330a/Desktop/3Bots.zip]
row=11
col=0

[/home/mohammad330a/Desktop/Clean Code.pdf]
row=14
col=2

[/home/mohammad330a/Desktop/test.json]
row=10
col=1

[/home/mohammad330a/Desktop/twitter-user-crawler]
row=18
col=3

[/home/mohammad330a/Desktop/dssss]
row=11
col=6

[/home/mohammad330a/Desktop/tweet_academic_sentiment.zip]
row=10
col=6

[/home/mohammad330a/Desktop/adjecency_graph.graphml]
row=15
col=3

[/home/mohammad330a/Desktop/InstagramBot.zip]
row=14
col=0

[/home/mohammad330a/Desktop/training_set_RA_big2 (1).csv]
row=11
col=3

[/home/mohammad330a/Desktop/statistics.json]
row=17
col=4

[/home/mohammad330a/Desktop/A]
row=13
col=2

[/home/mohammad330a/Desktop/Learn Bash Scripting_ Bash Scripting Cheatsheet _ Codecademy.pdf]
row=16
col=0

[/home/mohammad330a/Desktop/amin]
row=17
col=1

[/home/mohammad330a/Desktop/telegram_crawler.zip]
row=10
col=3

[/home/mohammad330a/Desktop/6]
row=15
col=2

[/home/mohammad330a/Desktop/AAAAA]
row=12
col=0

[/home/mohammad330a/Desktop/followers]
row=10
col=0

[/home/mohammad330a/Desktop/crypto-table-doc]
row=12
col=4

[/home/mohammad330a/Desktop/Text_Classification-1.0-py3-none-any.whl]
row=18
col=2

[/home/mohammad330a/Desktop/DrSameiHelp]
row=11
col=2

[/home/mohammad330a/Desktop/twitter-user-crawler.zip]
row=16
col=5

[/home/mohammad330a/Desktop/Log_Handler-1.0-py3-none-any (1).whl]
row=16
col=3

[/home/mohammad330a/Desktop/Untitled.svg]
row=16
col=4

[/home/mohammad330a/Desktop/my_codal_row_crawler.zip]
row=11
col=1

[/home/mohammad330a/Desktop/7]
row=11
col=4

