[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mohammad330a/Desktop/movie_bank.zip]
row=5
col=1

[/home/mohammad330a/Desktop/report-ex.pdf]
row=2
col=6

[/home/mohammad330a/Desktop/Clean Code.pdf]
row=6
col=0

[/home/mohammad330a/Desktop/twitter_crawlers_tokens.txt]
row=0
col=3

[/home/mohammad330a/Desktop/data_from_server]
row=4
col=0

[/home/mohammad330a/Desktop/3Bots.pdf]
row=2
col=3

[/home/mohammad330a/Desktop/qab]
row=6
col=4

[/home/mohammad330a/Desktop/using-twitter-academic-api-r-social-science-research.pdf]
row=4
col=3

[/home/mohammad330a/Desktop/response.html]
row=8
col=3

[/home/mohammad330a/Desktop/Screenshot_2022-01-09_14-34-18.png]
row=5
col=3

[/home/mohammad330a/Desktop/response.txt]
row=5
col=4

[/home/mohammad330a/Desktop/django_crypto_twitter_influencers_signal.sql]
row=3
col=1

[/home/mohammad330a/Desktop/metodata_logo.png]
row=6
col=5

[/home/mohammad330a/Desktop/gather_data]
row=4
col=5

[/home/mohammad330a/Desktop/posts.png]
row=3
col=0

[/home/mohammad330a/Desktop/results]
row=1
col=5

[/home/mohammad330a/Desktop/sentiment.zip]
row=4
col=4

[/home/mohammad330a/Desktop/3Bots]
row=3
col=5

[/home/mohammad330a/Desktop/result-2022-07-13_09:12:59.json]
row=8
col=5

[/home/mohammad330a/Desktop/sentiment]
row=0
col=4

[/home/mohammad330a/Desktop/crawled_data]
row=5
col=5

[/home/mohammad330a/Desktop/back_news_dashboard-main.zip]
row=8
col=4

[/home/mohammad330a/Desktop/sentiment_LSTM-v1.pt]
row=4
col=2

[/home/mohammad330a/Desktop/core_instagramaccount.png]
row=8
col=2

[/home/mohammad330a/Desktop/social_media_dashboard_core_keywordtwitteruser.sql]
row=7
col=5

[/home/mohammad330a/Desktop/darya_sql_city.sql]
row=7
col=2

[/home/mohammad330a/Desktop/social_media_dashboard.png]
row=8
col=0

[/home/mohammad330a/Desktop/bot_platform_users_twitteruser.sql]
row=2
col=0

[/home/mohammad330a/Desktop/MetoDataSentimentV3]
row=3
col=3

[/home/mohammad330a/Desktop/gather_data.zip]
row=5
col=0

[/home/mohammad330a/Desktop/Learn Bash Scripting_ Bash Scripting Cheatsheet _ Codecademy.pdf]
row=2
col=2

[/home/mohammad330a/Desktop/Moscow.pdf]
row=7
col=3

[/home/mohammad330a/Desktop/result2022-05-17(0-99).csv]
row=1
col=3

[/home/mohammad330a/Desktop/bourse_moved_crypto]
row=3
col=4

[/home/mohammad330a/Desktop/news.postman_collection.json]
row=7
col=0

[/home/mohammad330a/Desktop/entries.pdf]
row=4
col=1

[/home/mohammad330a/Desktop/django_crypto_twitter_influencers_tweet.sql]
row=1
col=1

[/home/mohammad330a/Desktop/django_crypto_twitter_influencers_user.sql]
row=2
col=1

[/home/mohammad330a/Desktop/movie_bank]
row=6
col=1

[/home/mohammad330a/Desktop/Screenshot_2022-04-27_18-04-44.png]
row=8
col=1

[/home/mohammad330a/Desktop/core_relatedtwitteruser.png]
row=3
col=2

[/home/mohammad330a/Desktop/tok]
row=6
col=2

[/home/mohammad330a/Desktop/project.zip]
row=5
col=2

[/home/mohammad330a/Desktop/response.json]
row=1
col=0

[/home/mohammad330a/Desktop/crypto_social.zip]
row=2
col=5

[/home/mohammad330a/Desktop/stream.png]
row=2
col=4

[/home/mohammad330a/Desktop/back_crowdtangle_top_posts_crawler]
row=0
col=2

[/home/mohammad330a/Desktop/Profile.pdf]
row=6
col=3

[/home/mohammad330a/Desktop/crypto_social]
row=1
col=2

[/home/mohammad330a/Desktop/Screenshot_2022-05-22_19-28-46.png]
row=0
col=0

[/home/mohammad330a/Desktop/migratioms]
row=0
col=1

[/home/mohammad330a/Desktop/retweetnetwork.zip]
row=1
col=4

[/home/mohammad330a/Desktop/result2022-05-23.csv]
row=7
col=4

[/home/mohammad330a/Desktop/twitter_influencers.Zare_daily_crawl.csv]
row=7
col=1

[/home/mohammad330a/Desktop/stream_all.png]
row=0
col=6

[/home/mohammad330a/Desktop/back_crowdtangle_top_posts_crawler.zip]
row=0
col=5

