[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mohammad330a/Desktop/stat]
row=2
col=1

[/home/mohammad330a/Desktop/1]
row=5
col=2

[/home/mohammad330a/Desktop/Clean Code.pdf]
row=5
col=3

[/home/mohammad330a/Desktop/3Bots.pdf]
row=5
col=4

[/home/mohammad330a/Desktop/InstagramBot.zip]
row=4
col=1

[/home/mohammad330a/Desktop/7]
row=2
col=2

[/home/mohammad330a/Desktop/log.out]
row=3
col=3

[/home/mohammad330a/Desktop/DrSameiHelp2_hamun2]
row=5
col=1

[/home/mohammad330a/Desktop/statistics.json]
row=3
col=4

[/home/mohammad330a/Desktop/Untitled1.svg]
row=4
col=4

[/home/mohammad330a/Desktop/DrSameiHelp2]
row=2
col=4

[/home/mohammad330a/Desktop/Log_Handler-1.0-py3-none-any (1).whl]
row=3
col=5

[/home/mohammad330a/Desktop/ACM]
row=1
col=1

[/home/mohammad330a/Desktop/Figure_1.png]
row=2
col=5

[/home/mohammad330a/Desktop/training_set_RA_big2 (1).csv]
row=0
col=4

[/home/mohammad330a/Desktop/3Bots.zip]
row=1
col=5

[/home/mohammad330a/Desktop/requirements?!!!!]
row=0
col=5

[/home/mohammad330a/Desktop/my_codal_row_crawler]
row=5
col=6

[/home/mohammad330a/Desktop/my_codal_row_crawler.zip]
row=3
col=7

[/home/mohammad330a/Desktop/requirementAnswers]
row=0
col=1

[/home/mohammad330a/Desktop/WTF]
row=2
col=3

[/home/mohammad330a/Desktop/EmadBug]
row=5
col=0

[/home/mohammad330a/Desktop/geckodriver-v0.30.0-linux64.tar.gz]
row=4
col=0

[/home/mohammad330a/Desktop/Learn Bash Scripting_ Bash Scripting Cheatsheet _ Codecademy.pdf]
row=4
col=3

[/home/mohammad330a/Desktop/kUJEz17MRN6CRM9ezITeZw_b7ca01e1a2714e9fb931b8d22baf0df1_ex3-octave.zip]
row=2
col=0

[/home/mohammad330a/Desktop/DrSameiHelp]
row=3
col=0

[/home/mohammad330a/Desktop/com_stat]
row=0
col=0

[/home/mohammad330a/Desktop/5]
row=4
col=2

[/home/mohammad330a/Desktop/3Bots]
row=1
col=3

[/home/mohammad330a/Desktop/response.json]
row=0
col=3

[/home/mohammad330a/Desktop/KhDr]
row=1
col=0

[/home/mohammad330a/Desktop/telegram_crawler.zip]
row=2
col=8

[/home/mohammad330a/Desktop/3Bots_.zip]
row=1
col=4

[/home/mohammad330a/Desktop/Untitled.svg]
row=0
col=2

[/home/mohammad330a/Desktop/test]
row=3
col=1

[/home/mohammad330a/Desktop/6]
row=3
col=2

[/home/mohammad330a/Desktop/adjecency_graph.graphml]
row=1
col=2

