[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mohammad330a/Desktop/Learn Bash Scripting_ Bash Scripting Cheatsheet _ Codecademy.pdf]
row=3
col=1

[/home/mohammad330a/Desktop/movie_bank.zip]
row=6
col=0

[/home/mohammad330a/Desktop/Clean Code.pdf]
row=0
col=1

[/home/mohammad330a/Desktop/twitter_crawlers_tokens.txt]
row=8
col=1

[/home/mohammad330a/Desktop/data_from_server]
row=4
col=0

[/home/mohammad330a/Desktop/3Bots.pdf]
row=1
col=3

[/home/mohammad330a/Desktop/Screenshot_2022-01-09_14-34-18.png]
row=2
col=0

[/home/mohammad330a/Desktop/response.txt]
row=3
col=2

[/home/mohammad330a/Desktop/gather_data]
row=4
col=3

[/home/mohammad330a/Desktop/posts.png]
row=3
col=0

[/home/mohammad330a/Desktop/crawled_data]
row=5
col=3

[/home/mohammad330a/Desktop/Darya]
row=0
col=2

[/home/mohammad330a/Desktop/sentiment_LSTM-v1.pt]
row=4
col=1

[/home/mohammad330a/Desktop/darya_sql_city.sql]
row=7
col=1

[/home/mohammad330a/Desktop/MetoDataSentimentV3]
row=2
col=3

[/home/mohammad330a/Desktop/gather_data.zip]
row=1
col=0

[/home/mohammad330a/Desktop/bourse_moved_crypto]
row=1
col=2

[/home/mohammad330a/Desktop/sentiment.zip]
row=2
col=2

[/home/mohammad330a/Desktop/result2022-05-17(0-99).csv]
row=8
col=2

[/home/mohammad330a/Desktop/result2022-05-23.csv]
row=5
col=2

[/home/mohammad330a/Desktop/Screenshot_2022-04-27_18-04-44.png]
row=8
col=0

[/home/mohammad330a/Desktop/entries.pdf]
row=5
col=0

[/home/mohammad330a/Desktop/qab]
row=4
col=2

[/home/mohammad330a/Desktop/project.zip]
row=5
col=1

[/home/mohammad330a/Desktop/movie_bank]
row=7
col=0

[/home/mohammad330a/Desktop/tok]
row=6
col=1

[/home/mohammad330a/Desktop/3Bots]
row=3
col=3

[/home/mohammad330a/Desktop/response.json]
row=0
col=3

[/home/mohammad330a/Desktop/results]
row=7
col=2

[/home/mohammad330a/Desktop/back_crowdtangle_top_posts_crawler]
row=2
col=1

[/home/mohammad330a/Desktop/Profile.pdf]
row=1
col=1

[/home/mohammad330a/Desktop/back_crowdtangle_top_posts_crawler.zip]
row=6
col=2

[/home/mohammad330a/Desktop/Screenshot_2022-05-22_19-28-46.png]
row=0
col=0

